---
layout: home
title: "Dingshan Deng"
excerpt: "PhD candidate at the University of Arizona"
header:
  overlay_color: "#000"
  overlay_filter: "0.4"
  overlay_image: "/assets/images/background.jpeg"

# Tiles config
feature_row1:
  - image_path: /assets/images/card-research.jpg
    alt: "Research"
    title: "Research"
    excerpt: "Projects, highlights, publications."
    url: /research/
    btn_label: "Explore"
    btn_class: "btn--primary"

feature_row2:
  - image_path: /assets/images/card-software.jpg
    alt: "Software"
    title: "Software"
    excerpt: "Code, packages, tools."
    url: /software/
    btn_label: "Get Access"
    btn_class: "btn--primary"

feature_row3:
  - image_path: /assets/images/card-photos.jpg
    alt: "Photos"
    title: "Photos"
    excerpt: "Gallery."
    url: /photos/
    btn_label: "See Photos"
    btn_class: "btn--primary"
---

<p>Welcome! I'm a PhD candidate at Lunar and Planetary Laboratory, the University of Arizona. My work combines observations and modeling to understand the protoplanetary disks.</p>

<p>I really enjoyed my life in beautiful Tucson area, where has amazing night sky, and is also an oasis in the desert that desert life thrives, including many birds visit often. Whenever we have time, we go out for hiking, birding and star-gazing, and often involve with taking some beautiful photos that I really love to share.</p>

<p>Explore my <strong>research</strong>, <strong>software</strong>, and <strong>photos</strong> below.</p>

<ul>
  <li>CV: <a href="/assets/cv.pdf">PDF</a></li>
  <li>Email: <a href="mailto:dingshandeng@arizona.edu">dingshandeng@arizona.edu</a></li>
  <li><a href="https://ui.adsabs.harvard.edu/search/q=orcid%3A0000-0003-0777-7392&sort=date+desc" target="_blank" rel="noopener">Publications</a></li>
</ul>

<h2>My Research</h2>
{% include feature_row id="feature_row1" %}

<h2>Access Softwares</h2>
{% include feature_row id="feature_row2" %}

<h2>Photo Gallery</h2>
{% include feature_row id="feature_row3" %}